{% extends 'base.html.twig' %}

{% block title %}Terms Of Use{% endblock %}

{% block body %}


<div class="base">

	<!-- Page -->
	<div class="page">

		<!-- Page Header-->
		<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ol class="breadcrumb">
							<li><a href="#!">Home</a></li>
							<li class="active">About us</li>
						</ol>
					</div>
				</div>
			</div>
		</section>

		<!-- Page Content-->

		<section class="section-padding light-gray-bg">
			<div class="container">
				<div class="text-center mb-80">
					<h2 class="section-title text-uppercase">Terms Of Use for Luxury Services</h2>
					<p class="section-sub">Welcome to Luxury Services, a leading professional recruitment consultancy specializing in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.</p>
				</div>


				<div class="row">
					
					<div class="col-sm-6">
						<h3 class="no-margin text-extrabold">Our philosophy</h3>
						<p class="mt-20 mb-20">
							Our role is to work with employers and job seekers to facilitate a successful match. This can range from advising a global company on a candidate sourcing strategy to helping a job seeker find their dream job.
						</p>
					</div>
					
					<div class="col-sm-6">
						<h3 class="no-margin text-extrabold">About Us</h3>
						<p class="mt-20 mb-20">
							Luxury Services is a leading professional recruitment consultancy specializing in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.
						</p>
					</div>
					
					<div class="col-sm-6">
						<h3 class="no-margin text-extrabold">Verified Jobs</h3>
						<p class="mt-20 mb-20">
							Checked and sorted, our job offers are updated regularly to offer you the best opportunities in the industry.
						</p>
					</div>
					
					<div class="col-sm-6">
						<h3 class="no-margin text-extrabold">Recruitment</h3>
						<p class="mt-20 mb-20">
							Precise and personalized, we make sure they don’t skip a step: verifying tickets, diplomas and consulting references.
						</p>
					</div>
					
					<div class="col-sm-6">
						<h3 class="no-margin text-extrabold">Experience</h3>
						<p class="mt-20 mb-20">
							We know the importance of efficiency and availability. These qualities are therefore our watchwords. Luxury Services is a leading professional recruitment consultancy specializing in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.
						</p>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-sm-12 text-center">
							<span class="mt-60"><strong>By using our website, you agree to these terms of use and agree to abide by them.</strong></span>
					</div>
				</div>

			</div>

		</section>
		<section class="padding-top-110 padding-bottom-70 brand-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="quote-carousel text-center">

							<div class="carousel-item">
								<div class="content">
									<h2 class="white-text line-height-40">"Get in touch with Luxury Services to leave the port for the
										season with the
										right crew, and a peace of mind knowing that whatever situation arises we will
										be there to help."</h2>
								</div>
							</div>
							<div class="carousel-item">
								<div class="content">
									<h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really
										clear that the most precious resource we all have is time."</h2>
								</div>
							</div>
							<div class="carousel-item">
								<div class="content">
									<h2 class="white-text line-height-40">"My favorite things in life don't cost any money. It's really
										clear that the most precious resource we all have is time."</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

</div>

	{% block js %}

	<script type="text/javascript">

		onAppReady(function () {
			$('.preload').remove();
		});
	</script>

	{% endblock %}

{% endblock %}







